@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
/*1200px is the break to mobile*/
:root {
  --primaryLight: #171717;
  --horizPadding: 180px;
}
* {
  font-family: "Inter", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
h1 {
  letter-spacing: -0.018em;
}
h1 {
  max-width: 400px;
}
h2 {
  max-width: 250px;
}
body {
  min-height: 100vh;
}
p {
  font-weight: 600;
}
